In [1]:
import pandas as pd

In [10]:
# Create a sample example dataframe
data = {'alpa': ['A','A','A','A','A','A','B','B','B','B','B','C','C','C','C','C'],
       'number': [1,4,5,7,5,5,6,1,4,5,6,7,4,6,4,6]}
df = pd.DataFrame(data)
df

   alpa  number
0     A       1
1     A       4
2     A       5
3     A       7
4     A       5
5     A       5
6     B       6
7     B       1
8     B       4
9     B       5
10    B       6
11    C       7
12    C       4
13    C       6
14    C       4
15    C       6

In [12]:
# Count using len()
count_index = len(df.index)
count_index

16